.parallax {
    background: linear-gradient(180deg, #505064, #111132);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h1 {
        font-size: 8rem;
        margin-right: 60px;
    }

    .mountains {
        background-image: url("/mountains.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
    }

    .planets {
        background-image: url("/sun.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }

    .stars {
        background-image: url("/stars.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}