.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        span{
            font-weight: bolder;
            font-size: 2rem;
        }
    
        .social{
            display: flex;
            gap: 20px;

            img{
                width: 20px;
                height: 20px;
            }
        }

    }

}